$btnFont: 16px;

body{
  background-color:#f5f7fa;
}
.detail-container {
	margin: 20px 4%;
	overflow: hidden;
	background: #fff;
	font-size:14px;
	p,li{
		color:#656566;
		line-height: 24px;
	}
	strong{
		color:#333;
	}
	h1{
		font-size: 16px;
		text-align: center;
		margin-bottom: 20px;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		font-weight: bold;

	}
	.titleBg1{
		background-image:url(../images/titleBg1.png) ;
		color:#6DB0FF;
	}
	.titleBg2{
		background-image:url(../images/titleBg2.png) ;
		color:#88A3EC;
	}
	.titleBg3{
		background-image:url(../images/titleBg3.png) ;
		color:#82CDD3;
	}
	h2{
		font-size: 14px;
		font-weight: bold;
	}
	h2.has-icon{
		background-size:5px;
		background-position:left center;
		background-repeat:no-repeat;
		padding-left:10px;
	}
	h2.icon-img1{
		background-image:url(../images/arrow.png);
	}
	h2.icon-img2{
		background-image:url(../images/arrow2.png);
	}
	h3{
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
	}
	.has-padding{
		padding-left:10px;
	}
	.has-padding2{
		padding-left:20px;
	}
	.has-padding3{
		padding-left:30px;
	}
	.has-padding4 li{
		list-style: none;
		padding-left:10px;
	}
	ol li{
		margin:5px 0;
		list-style-type: decimal;
	}
	ul{
		list-style:url('../images/arrow3.png');
	}
	ul li.haspaddingBt{
		margin-bottom:20px;
		background-repeat:no-repeat;
		background-size:6px;
		background-position:0px 8px;
		background-image:url(../images/arrow3.png) ;
		padding-left:10px;
	}
	ul li.nopaddingBt{
		margin-bottom:0px;
	}
	.bottomName{
		overflow: hidden;
		margin:20px 0;
		div{
			width: 50%;
			float:left;
		}
	}

	// .bottom-btn {
	// 	padding: 20px 0px;
	// 	text-align: center;
	// 	.button.button-outline.button-balanced {
	// 		margin: 0;
	// 		padding: 0;
	// 		width: 120px;
	// 		min-height: 10px;
	// 		height: 32px;
	// 		line-height: 32px;
	// 		font-size: $btnFont;
	// 	}
	// }
}

