img-upload-directive{
    height: 100%;
    
    div {
        float: left;
        height: 100%;
        margin-right: 6px;
    }

    .upload-img {
        overflow: hidden;

        img {
            border: 0;
            width: 70px;
            min-height: auto;
        }
    }

    .upload-btn {
        position: relative;

        i.before {
            position: absolute;
            left: 50%;
            top: 15%;
            width: 1px;
            height: 70%;
            background: #ececec;
        }

        i.after {
            position: absolute;
            left: 15%;
            top: 50%;
            width: 70%;
            height: 1px;
            background: #ececec;

        }
    }
}
