$businessLogoWidth: 45px;
$businessLogoHeight: 45px;
$indexHeaderHeight: 160px;
$bigFont: 25px;
$normalFont: 16px;
$middleFont: 14px;
$smallFont: 12px;

.index-container {
  background: #F5F7FA;
  min-height: 100vh;
  .business-header {
    height: $indexHeaderHeight;
    background: -moz-linear-gradient(180deg,  #fc5d47 0%,#ff534f 100%);
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#fc5d47), color-stop(100%,#ff534f));
    background: -webkit-linear-gradient(180deg,  #fc5d47 0%,#ff534f 100%);
    background: -o-linear-gradient(180deg,  #fc5d47 0%,#ff534f 100%);
    background: -ms-linear-gradient(180deg,  #fc5d47 0%,#ff534f 100%);
    background: linear-gradient(180deg,  #fc5d47 0%,#ff534f 100%);

    padding: 15px;
    position: relative;
    .business-info {
      .img-container {
        width: $businessLogoWidth;
        height: $businessLogoHeight;
        background: white;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        .business-logo {
          width: 100%;
          height: 100%;
        }
      }
      .business-name {
        display: inline-block;
        vertical-align: top;
        font-size: $normalFont;
        color: white;
        margin-left: 10px;
        height: $businessLogoHeight;
        line-height: $businessLogoHeight;
      }
    }
    .business-gain {
      margin-top: 30px;
      color: white;
      font-size: $smallFont;
      .gain-title, .gain-amount {
        text-align: right;
      }
      .gain-amount {
        #gain-money {
          font-size: $bigFont;
        }
      }
    }
  }

  .business-invite {
    padding: 15px 20px;
    font-size: $smallFont;
    color: #818181;
    background: white;
    #invite-code {
      margin: 0px 3px 0px 8px;
      position: relative;
      top:1px;
      color: #19191A;
      font-size: 16px;
      -webkit-user-select: text; 
      user-select: text;
      -webkit-touch-callout: default;
      touch-callout: none ;
    }
    .long-touch-btn{
      color:#b3b3b3;
    }
  }
  .gradient2{
      background: -moz-linear-gradient(180deg,  #e6e6e6 0%,#fff 0.5%);
      background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#e6e6e6), color-stop(0.5%,#fff));
      background: -webkit-linear-gradient(180deg,  #e6e6e6 0%,#fff 0.5%);
      background: -o-linear-gradient(180deg,  #e6e6e6 0%,#fff 0.5%);
      background: -ms-linear-gradient(180deg,  #e6e6e6 0%,#fff 0.5%);
      background: linear-gradient(180deg,  #e6e6e6 0%,#fff 0.5%);

  }
  .one-px-border{
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
    background: -webkit-gradient(linear, center top, center bottom, color-stop(50%,#FFF), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
    background: -o-linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
    background: -ms-linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
    background: linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
  }
  .one-px-border2{
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(180deg, #FFFFFF 0%, #eee 50%);
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#e6e6e6), color-stop(0.5%,#fff));
    background: -webkit-linear-gradient(180deg, #FFFFFF 0%, #eee 50%);
    background: -o-linear-gradient(180deg, #FFFFFF 0%, #eee 50%);
    background: -ms-linear-gradient(180deg, #FFFFFF 0%, #eee 50%);
    background: linear-gradient(180deg, #FFFFFF 0%, #eee 50%);
  }
  .itemBg{
    padding-left: 15px;
  }
  .list-no-padding{
    padding:0px 0 0 0;
  }
  .business-menu {
    margin-top: 15px;
    background-color:#FFF;
    
    .item-active{
      background-color:#CCC;
      background-image:none;
    }
    .item.menu-item {
      height: 50px;
      line-height: 50px;
      border: none;
      padding: 0 0px 0 0px;
      margin:0px;
      .icon.img-container {
        left: 5px;
        width: 20px;
        background:center no-repeat;
        background-size:20px;
        img {
          width: 20px;
        }        
      }
      span {
        margin-left: 40px;
        line-height: 43px;
        font-size: $normalFont;
        color: #19191A;
      }
      .icon.img-right-arrow {
        img {
          width: 8px;          
        }
      }  
    }
  }
}

.disable-user-behavior,
.bar,
.scroll,
.ionic-body,
body,
html,*{      
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}
@media screen and (max-width: 320px) {
    .index-container .business-header .business-info .business-name {
        margin-left: 0;
    }
}
