$logo_width: 70px;
$logo_height: 70px;
$middle_font_size: 16px;
$small_font_size: 12px;

.openpay-container {
	background: #F5F7FA;
}
.unable{opacity:0.5}
.openpay-business-img {
	padding: 40px 0px 20px 0px;
	text-align: center;
	.img-container {
		margin: 0 auto;
		border: 1px solid #D0D0D0;
		border-radius: 2px;
		background: #EBEDF0;
		width: $logo_width;
		height: $logo_height;
		overflow: hidden;
		.img-logo-notyet {
			width: 70px;
			//margin-top: 20px;
		}
		.img-logo-already {
			width: $logo_width;
			height: $logo_height;
			border-radius: 2px;
		}
		p {
			font-size: $small_font_size;
			color: #b1b1b3;
		}
	}
	.business-name {
		margin-top: 10px;
		font-size: $small_font_size;
		color: #7E7F80;
	}
}
.gradient3{
    background: -moz-linear-gradient(top, #e6e6e6 0%,#fff 1%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(1%,#fff));
    background: -webkit-linear-gradient(top, #e6e6e6 0%,#fff 1%);
    background: -o-linear-gradient(top, #e6e6e6 0%,#fff 1%);
    background: -ms-linear-gradient(top, #e6e6e6 0%,#fff 1%);
    background: linear-gradient(to bottom, #e6e6e6 0%,#fff 1%);
}
.one-px-border{
	width: 100%;
	height: 2px;
    background: -moz-linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
    background: -webkit-gradient(linear, center top, center bottom, color-stop(50%,#FFF), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
    background: -o-linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
    background: -ms-linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);
    background: linear-gradient(180deg, #FFFFFF 50%, #e6e6e6 100%);

}
.list {
	margin-bottom: 0px;
	padding:1px 0 0px 15px;
	.gradient{
	    background-image: -moz-linear-gradient(top, #fff 99%, #e6e6e6 100%);
	    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(99%,#fff), color-stop(100%,#e6e6e6));
	    background-image: -webkit-linear-gradient(top, #fff 99%,#e6e6e6 100%);
	    background-image: -o-linear-gradient(top, #fff 99%,#e6e6e6 100%);
	    background-image: -ms-linear-gradient(top, #fff 99%,#e6e6e6 100%);
	    background-image: linear-gradient(to bottom, #fff 99%,#e6e6e6 100%);
	}
	.item.item-input {
		display: flex;
		align-items: center;
		margin: 0;
		height: 45px;
		border: none;
		padding: 0 15px 0 0px;
		.copy-input {
			font-size: $middle_font_size;
			color: #999;
		}
		.openpay-form-label {
			font-size: $middle_font_size;
			margin:0;
			padding: 0;
			height: 18px;
			line-height: 18px;
			color: #999;
			width: 80px;
			vertical-align: middle;
		}
		input {
			display: flex;
			align-items: center;
			vertical-align: top;
			overflow: visible;
			margin: 0;
			padding: 0;
			color: #19191a;
			font-size: $middle_font_size;
		}
		:-moz-placeholder {
		  line-height: 20px;
			color: #cbcbcb;
		}
		::-moz-placeholder {
			line-height: 20px;
			color: #cbcbcb;
		}
		:-ms-input-placeholder {
			line-height: 20px;
			color: #cbcbcb;
		}
		::-webkit-input-placeholder {
			line-height: 20px;
			color: #cbcbcb;
		}
	}
}

.agreement {
	height: 32px;
	font-size: $small_font_size;
	padding-left: 3%;
	margin-top:15px;
	.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before {
		background: #11CD6E;
		border-color: #11CD6E;
	}
	.agreement-checkbox{
		margin-top: 1px;
		padding: 0;
		float: left;
		background: #F5F7FA;
	}
	span {
		margin-left: 5px;
		float: left;
		height: 32px;
		line-height: 32px;
		color: #7e7e80;
	}
	a {
		float: left;
		height: 32px;
		line-height: 32px;
		color: #4279d6;
		text-decoration: none;
	}
}

.open-payment-btn {
	padding-top: 25px;
	text-align: center;
	button {
		width: 92%;
	}
}

.action-sheet {
	margin: 0;
	padding: 0;
	.action-sheet-group.action-sheet-options {
		width: 96%;
		margin: 6px auto;
		padding: 0;
		border: 0;
		border-radius: 4px;
		.button.action-sheet-option {
			border: 0; 
			text-align: center;
			font-size: $middle_font_size;
			color: #007aff;
		}
		.button.action-sheet-option:not(:last-child) {
			border-bottom: 1px solid #d1d3d6;
		}
	}
	.action-sheet-group.action-sheet-cancel {
		width: 96%;
		margin: 0 auto;	
		margin-bottom: 6px;
		padding: 0;
		border: 0;
		border-radius: 4px;
		.button {
			font-size: $middle_font_size;
			color: #007aff;
			text-align: center;
		}
	}
}

// fix android cancel button hidden bug
.platform-android .action-sheet-cancel {
    display: block;
}

.bar.bar-footer {
	border-top: 0;
	.bottom-content.title {
		font-size: $small_font_size;
		color: #b1b1b3;
	}
}
.bar.bar-light.bar-footer {
    background-image: none;
}
