<ion-view view-title="活动规则">
  <ion-content>
    <div class="detail-container">
      <!-- <div style="height:5px"></div> -->
      <h1 class="titleBg1">参与方式</h1>
      <h2 class="has-icon icon-img1">活动时间:</h2>
      <p class="has-padding">2016年8月8日起，结束时间以借贷宝官方公告为准。</p>
      
      <h2 class="has-icon icon-img1">登记入驻：</h2>
      <p class="has-padding">已通过实名认证的借贷宝用户可在借贷宝APP收款页“我是商家”登记成为借贷宝商家，上传店铺LOGO、店铺名称地址信息后，可立即使用借贷宝商家功能。</p>

      <h2 class="has-icon icon-img1">新用户注册享优惠：</h2>
      <p class="has-padding">未安装注册过借贷宝APP的消费者在注册时输入商家邀请码（见“我是商家”页）即可享受借贷宝消费支付优惠：<br>注册完成后，即可获得总价值30元的两张现金券（15元专用现金券和15元通用现金券各一张）；<br>注册完成后，即可获得100分钟免费通话时长；</p>
    
      <h2 class="has-icon icon-img1">老用户随机减：</h2>
      <p class="has-padding">借贷宝老用户可在支持借贷宝支付的商家享受3次随机减优惠，每笔最高减20元。</p>

      <h2 class="has-icon icon-img1">借贷宝支付：</h2>
      <p class="has-padding">用户可通过使用借贷宝扫码支付完成付款；<br>详细的用户使用规则，请阅读借贷宝支付免单季《如何参与》。</p>
      <div style="height:10px"></div>
      <h1 class="titleBg2">使用方式</h1>
      <h2 class="has-icon icon-img2">商家奖励具体规则如下：</h2>

      <ol class="has-padding3">
        <li>新用户成功使用15元专用现金券，商家可获得5元（一共20元，可自行分配商家和用户的奖励比例）</li>
        <li>新用户成功是用15元通用现金券，商家可获得固定5元，通用优惠券可在所有支持借贷宝支付的商家使用，也可在借贷宝app中使用。</li>
        <li>老用户在活动期间可以享受3次随机减，用户随机得到的奖金金额的1/3将给到商家。</li>
      </ol>

      <h2 class="has-icon icon-img2">申请寄送物料：</h2>

      <p class="has-padding">点击借贷宝-我是商家-申请寄送物料，输入收货人，手机号以及店铺地址即可完成物料申请，借贷宝工作人员会及时联系您并寄送相关物料。</p>

      <h2 class="has-icon icon-img2">资金结算：</h2>

      <p class="has-padding">当用户成功使用借贷宝向商家进行付款，结算方式如下：</p>

      <ol class="has-padding3">
        <li>用户实际支付金额实时到达商家的借贷宝账户；</li>
        <li>现金券、随机减金额及商家奖励金额及时到达商家借贷宝账户；</li>
        <li>优惠奖励由九购自行或委托第三方支付。</li>
      </ol>

      <h2 class="has-icon icon-img2">退款说明：</h2>
      <p class="has-padding">如因用户取消交易等原因商家发起退款的，该商家应将已获得的优惠奖励金额退还，包括现金券，随机减优惠及商家奖励金额。商家同意九购或其关联方式可以从其借贷宝账户直接划扣该部分优惠奖励。商家应保证其借贷宝账户中有足够的款项用于退还用户交易款及优惠奖励。</p>

      <div style="height:10px"></div>
      <h1 class="titleBg3">其他说明</h1>
      <ul class="">
        <li class="haspaddingBt">活动期间，所有用户不得以嵌入虚假红包、封装假应用、恶意竞价排名等非官方方式传播活动页面。本平台将对违规用户采取冻结借贷宝账户、追回全部活动奖励等严厉措施，并视情节严重向违规用户索赔，严格追究其法律责任；</li>

        <li class="haspaddingBt">任何有关借贷宝推广活动的奖励方案，以借贷宝官方解释为准。借贷宝不会要求用户以任何方式充值或转账作为奖励条件。请广大借贷宝用户保护好个人信息，不要轻易透露敏感信息给陌生人；</li>

        <li class="haspaddingBt">若被邀请用户不符合活动规则（不满18岁或超过55周岁），邀请双方均无法获得奖励；</li>

        <li class="haspaddingBt">活动期间，根据《中国人民共和国个人所得税法》规定，借贷宝商家所获得的奖励应作为劳务报酬缴纳个人所得税，并由九购履行代扣代缴义务。因此，若因推广或测试借贷宝支付所获奖励超过税法规定的免税金额，则商家收到的实际金额将低于前述规则计算的奖励金额。具体代缴标准以法律规定为准。</li>
        <li class="haspaddingBt">在参与活动过程中遇到任何问题可通过拨打官方客服电话联系我们，官方客服电话400-100-6699</li>

        <li class="haspaddingBt">本活动与苹果公司无关，活动最终解释权归举办方北京九购科技有限公司所有，奖励费用由北京九购科技有限公司自行或委托第三方支付。</li>
      </ul>

    </div>
  </ion-content>
</ion-view>

