<ion-view view-title="配置优惠金额">
	<ion-content scroll="false">
		<div class="discount-container">
      		<div class="setting-section item item-icon-right gradient"
      			on-tap="trackEvent('配置优惠金额/点击用户可用优惠券金额')">
				<span>用户可用优惠金额</span>
		        <label class="icon" for="discount-amount-select">
		        	<span id="discount-amount">
		        		{{data.serverData.activeMoney}}
		        	</span>
		        	<span>元</span>
		        	<img ng-src="images/rightArrow.png" alt="arrow">
		        </label>
      		</div>
			<div class="one-px-border"></div>
	      	<section class="discount-description">
		      	<p>
		      		邀请用户注册可获得20元补贴，商家可自行配置用户可用优惠金额(最低不少于5元)，剩余金额属于商家。{{ data.serverData.protectedDays }} 日内仅能修改一次。
		      	</p>
		      	<a ng-click="openRule();trackEvent('配置优惠金额/点击详细规则')">详细规则 &gt;</a>
	      	</section>

			<p class="submit-discount-btn">
				<button
					class="button button-positive"
					ng-disabled="!data.serverData.canModify"
					ng-click="handleSubmitDiscount();trackEvent('配置优惠金额/点击提交按钮')">
					{{ btnContent }}
				</button>
			</p>

			<select style="height:200px;" class="hidden"
				ng-model="data.serverData.activeMoney"
				ng-disabled="!data.serverData.canModify"
				id="discount-amount-select"
				ng-options="money for money in data.serverData.moneyRange">
			</select>
		</div>
	</ion-content>
</ion-view>