<ion-view view-title="商家服务协议">
  <ion-content>
    <div class="detail-container">
        <h1>商家服务协议</h1>
        <h3>北京九购科技有限公司（下称“九购”）接受人人行科技股份有限公司委托推广借贷宝软件及相应功能。九购特制订本协议为商家（以下简称“您”）提供本协议项下相关服务，本协议对您和九购均具有法律效力。九购提醒您认真阅读、充分理解本协议各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向借贷宝客服咨询（400-100-6699）。当您按照“商家申请”页面提示填写信息、阅读并同意本协议且完成全部申请程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与九购达成一致，成为借贷宝“我是商家”活动中的“商家”。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止申请程序。</h3>
		

		<h2>一、定义</h2> 
		<p>如无特别说明，下列术语在本协议中的定义为：</p>
		<ol>
			<li><strong>1.1 借贷宝：</strong>九购的合作伙伴人人行科技股份有限公司（以下简称“人人行”）开发运营的一款互联网金融软件。</li>
			<li><strong>1.2 商家服务</strong>（下称“本服务”）：九购依托借贷宝为商家提供的信息交互、软件技术等服务，如资金收付、物料申请、优惠券的配置与核销，具体功能以实际提供为准。</li>
			<li><strong>1.3 商家：</strong>指使用借贷宝收取用户支付的消费款项等可合法提供商家服务的个人。</li>
			<li><strong>1.4 用户：</strong>指使用借贷宝向商家购买商品或服务的自然人。</li>
			<li><strong>1.5 合作支付机构：</strong>九购或者人人行科技股份有限公司合作的支付机构。</li>
		</ol>
        <h2>二、服务内容</h2>
        <ol>
        	<li><strong>2.1 服务内容。</strong>九购依据本协议为您提供网络信息服务及相应软件技术服务，如物料申请、优惠券的配置与核销，具体内容以实际提供为准。<br>
			【资金结算】按照T+  0   的结算周期，自动将用户的支付款结算至您的借贷宝账户，具体到账时间取决于合作支付机构的运营状况。
			</li>
			<li><strong>2.2 服务限制。</strong>
			您同意您<strong>仅可申请开通一次商家服务</strong>。如有证据证明相信您存在不当注册或不当使用多个商家的情形，<strong>九购可采取冻结或关闭账户、取消订单、拒绝提供服务等措施，如给九购或借贷宝及相关方造成损失的，您还应承担赔偿责任。</strong>
			</li>
        </ol>
		<h2>三、双方的权利和义务</h2>
		<ol>
			<li><strong>3.1 您应保证您为能够独立承担法律责任的个人，并具有履行本协议所需的一切权利及能力；同时您应已成为借贷宝实名认证用户，且已按九购的要求提供相关资料和信息</strong>。</li>
			<li><strong>3.2 您不得向九购或九购关联公司的员工、顾问提供任何形式的不正当利益，不得贿赂或以其他不正当方式收买、企图收买九购或关联企业之员工、顾问为您提供不正当利益</strong>。</li>
			<li><strong>3.3 您系统安全与维护</strong>。您负责自身借贷宝账户信息的安全性。您应采取九购或者人人行认可的技术来保证双方合作的安全性、稳定性和可操作性，不得使用可能带来有碍信息安全的设备、软件或人力资源，并保障各项信息数据传输过程中的安全性、保密性。</li>
			<li><strong>3.4 真实信息</strong>。您承诺向九购提供的全部资料、数据信息为真实有效合法的，您使用本协议项下的服务都是建立真实、合法的产品或服务交易等商业活动，不得利用本服务发布虚假信息或者从事虚假交易。</li>
			<li><strong>3.5 您同意，九购可以将本协议项下权利或义务的全部或者部分转让给具备履约能力的第三方，并通过借贷宝平台公告、借贷宝平台消息或短信等方式向您告知。九购保证该转让不会影响您对本协议项下服务的使用</strong>。</li>
			<li><strong>3.6 为方便您使用借贷宝商家服务、借贷宝APP等其他相关服务，您授权九购将您在账户注册和使用商家服务过程中提供、形成的信息传递给借贷宝APP等其他相关服务提供者，或从借贷宝APP等其他相关服务提供者获取您在注册、使用相关服务期间提供、形成的信息</strong>。</li>
		</ol>
		<h2>四、卡券活动管理</h2>
		<ol>
			<li><strong>4.1</strong> 您同意，九购或其关联方可在您向用户自主提供优惠基础上向用户提供额外的优惠，优惠详情通过向您联系人手机号码（包括您预留在借贷宝的手机号）发信息，或借贷宝公告，或网站公告等方式通知您；九购可以在您提供的自主优惠基础上向用户提供额外的支付优惠。
			</li>
			<li><strong>4.2</strong> 您同意，对于九购或其关联方提供额外优惠的交易，您仍应按照其在借贷宝上展示的优惠卡券上的约定向用户提供服务，且该类服务的质量不低于您提供的其他任何服务。否则，九购有权停止提供额外优惠，同时保留要求您返还九购或其关联方已经提供的优惠款项。</li>
			<li><strong>4.3</strong> 对于九购或其关联方提供额外优惠的产品或服务，您承诺您对借贷宝用户提供的优惠力度不低于您在其他渠道或平台（含您自有渠道或平台）上发布的优惠力度。如存在特殊情况的，您应事先获得九购同意。
			</li>
			<li><strong>4.4 </strong>您同意，九购有权根据国家法律法规等相关规定对于您在本协议项下从九购获取的额外优惠履行代扣代缴的义务。</li>
		</ol>
		<h2>五、服务费用</h2>
		<ol>
			<li><strong>5.1 </strong>九购有权从您的每笔结算款中收取您服务费，具体费率为：   0    。</li>
			<li><strong>5.2 </strong>您同意，本协议项下的服务费由您不可撤销地授权合作支付机构在用户完成交易时，<strong>实时从您的每笔结算款扣取，并将剩余结算款支付到您的借贷宝账户</strong>。</li>
			<li><strong>5.3 您同意</strong>，基于国家政策调整，或中国人民银行、合作机构的政策调整，或者本次消费支付优惠活动的履行概况，九购有权据此调整服务费率并对您进行通知，<strong>自通知发出之日起第六个作日起按调整后的费率执行。双方无法就费率变更达成一致意见的，可终止本协议</strong>。</li>
			<li><strong>5.4 </strong>各方确认并同意，涉及费率结算如因小数点后两位进位而产生微小误差，各方均予以认可。</li>
		</ol>
		<h2>六、保密条款</h2>
		<ol>
			<li><strong>6.1 </strong>除本协议另有约定外，未经一方书面同意，任何一方不得将本协议内容、用户个人信息、用户支付信息以及接口技术、安全协议及证书等透露给第三方。</li>
			<li><strong>6.2 </strong>各方对在履行协议中获得的商业机密和技术秘密负保密责任。<strong>出现下列任一情况时，九购有权披露您的相关商业信息：</strong>
			<li>
				<ul>
					<li><strong>（1）人民银行或银监会、证监会、保监会等金融业监管机构要求提供您的相关商业信息的；</strong></li>
					<li><strong>（2）公安机关、人民法院、人民检察院或有权行政机关要求提供您的相关商业信息的；</strong></li>
					<li><strong>（3）用户投诉，要求提供您的相关商业信息，经九购查实后认为可以提供的。</strong></li>
				</ul>
			</li>
			<li>本协议所称商业信息包括但不限于您与用户之间的交易单号、交易凭证、资金流水等交易信息。</li>
			<li><strong>6.3 </strong>各方保证其雇员及代理人履行本条的保密义务，上述保密义务在本协议终止后仍然有效。</li>
		</ol>
		<h2>七、违约责任</h2>
		<ol>
			<li><strong>7.1</strong> 各方中的任何一方违反本协议中所做约定的义务，均构成违约。</li>
			<li><strong>7.2 您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则，九购可对您发布的信息依法或依本协议进行删除或屏蔽。</strong>您有下列情形之一的，九购<strong>有权单方面解除本协议并要求您承担相关赔偿责任：</strong>
			</li>
			<li>	
				<ul>
					<li>（1）直接或间接参与欺诈的；</li>
					<li>（2）若您提供的产品或服务未经过九购审核且拒不调整的；</li>
					<li>（3）产品或服务内容包含任何污言秽语、色情低俗及法律法规与本协议列明的其他禁止性内容；</li>
					<li>（4）经营及财务状况恶化无法正常经营；</li>
					<li>（5）出现违规操作，经指出拒不纠正的；</li>
					<li>（6）无理拒绝或故意拖延合作支付公司查询和监查要求的；</li>
					<li>（7）进入破产程序、解散、营业执照被吊销；</li>
					<li>（8）实施有损九购利益行为的；</li>
					<li>（9）违反本协议或利用人本服务从事不符合国家相关法律法规规定的经营活动；</li>
					<li>（10）出现风险事件或经判断交易异常的；</li>
					<li>（11）其他违反九购的相关规则和制度的。</li>
			    </ul>
			</li>
			<li><strong>7.3</strong>  九购保留对可疑交易、非法交易、虚假交易或交易纠纷等违规交易的自主判断权，并有权视违规情况采取下列一项或多项措施：
			<li>
				<ul>
					<li>1）拒绝支付违规交易的优惠奖励，已经支付的，可直接从违规商家的结算账户中直接划扣其不当得利；</li>
					<li>2）封存违规的借贷宝商家账号、冻结其收款的借贷宝账户、处以1000元-5000元罚款等处罚；</li>
					<li>3）向有关执法或司法单位报告，并要求违规商家及时提供所有的交易材料证明；</li>
				</ul>
			</li>
		</ol>
		<h2>八、免责条款</h2>
		<ol>
			<li><strong>8.1 九购仅为您提供商家服务，包括资金收付查询、卡券配置等本协议约定的服务内容。九购或其关联公司不对您产品或服务的真实性、合法性和有效性做任何明示或暗示的担保，也不承担任何责任。您与用户或其他主体之间的纠纷由您自行负责处理，与九购或其关联公司无关。</strong></li>
			<li><strong>8.2 </strong>因受不可抗力影响而不能履行或不能完全履行本协议的一方可以免除责任。不可抗力是指本协议各方不能预见、不能避免、不能克服的客观情况。此外，鉴于网络之特殊属性，发生包括但不限于下列任何情形导致九购或其关联公司不能履行本协议下义务的，各方可以免责：
				<ul>
					<li>（1）借贷宝系统停机维护；</li>
					<li>（2）黑客攻击、计算机病毒侵入或发作；</li>
					<li>（3）计算机系统遭到破坏、瘫痪或无法正常使用而导致信息或纪录的丢失、不能提供本协议项下之服务的；</li>
					<li>（4）电信部门技术调整导致之重大影响的；</li>
					<li>（5）因政府管制而造成服务终止的；</li>
					<li>（6）其它非各方原因造成的。</li>
					<li>遇上述事件的任何一方，应将该事件立即书面通知其他方。各方按照事件对协议履行的影响程度，再行决定是否继续履行本协议。</li>
				</ul>
			</li>
		</ol>
		<h2>九、知识产权和商标</h2>
		<ol>
			<li><strong>9.1</strong> 九购在本合作中提供的内容（包括但不限于商标、标识、网页、文字、图片等）的知识产权归九购所有或其获得了合法授权。其中提供给您的软件系统、安全证书等仅限于您自用，未经九购或相关权利人许可，您不得进行拷贝、复制、泄露、销售给第三方使用，且不得以任何形式进行使用或创造相关衍生作品。</li>
			<li><strong>9.2</strong> 您在使用本服务过程中，不得有恶意操作、恶意删除、设置逻辑炸弹、后门程序等损害九购及其关联公司数据安全的行为，否则应当赔偿九购相关损失。</li>
			<li><strong>9.3</strong> 商标授权。未经九购或其关联公司书面授权，您不得转载、复制、截取、篡改九购或者其关联公司的商标、借贷宝标识、Logo等内容或制作与该内容有关的衍生产品。未经九购或其关联公司书面授权，您不得在任何网页、APP页面或经营场所等位置展示与”借贷宝”或“九购”有关的链接、弹窗或与wap支付有关的内容及其衍生产品。</li>
			<li><strong>9.4 </strong>对于您提供及发布除个人信息外的文字、图片、视频、音频等非个人信息，<strong>在版权保护期内您免费授予九购及其关联公司、合作支付公司获得全球排他的许可使用权利及再授权给其他第三方使用的权利。您同意九购及其关联公司、合作支付公司存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。</strong>
			</li>
		</ol>

		<h2>十、通知</h2>
		<ol>
			<li><strong>人人行可以通过包括但不限于：在借贷宝平台公告，向您提供的联系电话发送手机短信，向您的借贷宝账号发送借贷宝平台信息、系统消息以及站内信信息等方式向您发出通知，在发送成功后即视为送达；</strong></li>
		</ol>
		<h2>十一、借贷宝商家服务经营主体</h2>
		<p>
			借贷宝商家服务经营者是指经营借贷宝商家系统的各法律主体。本协议项下，借贷宝商家服务经营者可能根据借贷宝商家服务的业务调整而发生变更，变更后的借贷宝商家服务经营者与您共同履行本协议并向您提供服务，借贷宝商家服务经营者的变更不会影响您本协议项下的权益。借贷宝商家服务经营者还有可能因为提供新的借贷宝商家服务而新增，如您使用新增的借贷宝商家服务的，视为您同意新增的借贷宝商家服务经营者与您共同履行本协议。发生争议时，您可根据您具体使用的服务及对您权益产生影响的具体行为对象确定与您履约的主体及争议相对方。
		</p>
		<h2>十二、适用法律及争议解决</h2>
		<ol>
			<li><strong>12.1</strong> 本协议之解释、适用、争议解决等一切事宜，均适用中华人民共和国大陆地区法律。</li>
			<li><strong>12.2 </strong>因本协议产生任何纠纷时，各方应友好协商，协商不成的，各方应将争议提交<strong>九购所在地</strong>人民法院诉讼解决。</li>
		</ol>
		<h2>十三、其他约定</h2>
		<ol>
			<li><strong>13.1 借贷宝商家经营者有权随时对本协议内容进行单方面的变更，并以在借贷宝官网或者九购官方网站或借贷宝APP内予以公布，无需另行通知您；若您在本协议内容变更公告后继续使用本服务，则表示您已充分阅读、理解并接受修改后的协议，也将遵循修改后的协议；若您不同意修改后的协议内容，您应停止使用借贷宝商家服务</strong>。
			</li>
			<li><strong>13.2 您不得对借贷宝、九购或其关联公司的利益、商誉和品牌形象造成任何现实或潜在的损害或冲突，包括但不限于您及其员工通过公开途径以言论、声明等口头或书面形式批评、中伤借贷宝、或以其它方式给借贷宝、九购及其关联公司任何一方名誉造成不利影响等，否则九购有权随时终止本协议，并要求您赔偿由此造成的全部损失</strong>。</li>
			<li><strong>13.3</strong> 除非九购终止本协议或者您经九购同意终止本协议并注销相应注册商家账户，否则本协议始终有效。</li>
			<li><strong>13.4 本协议中各款标题仅为方便查阅而设，对本协议条款的理解或解释并无影响</strong>。</li>
			<li><strong>13.5</strong> 协议解除或终止后，涉及到退款和保密的条款依然有效，各方应继续遵照执行。</li>
		</ol>
    </div>
  </ion-content>
</ion-view>

