<ion-view view-title="设置" class="setting-container">
	<div class="sendinfo-container">
		<div class="list gradient3">
		  	<div class="item item-input logo-change-wrapper gradient">
		    	<span class="input-label">商家LOGO</span>

			    <div class="img-wrapper"
			    	ng-click="trackEvent('设置/点击更换logo')">
			    	<img-upload-directive
			    		limitup-image-num="1"
			    		img="data.serverData.logo || './images/defaultBusinessLogo.png'"
			    		on-img-change="changeLogo(img)">
			    		
			    	</img-upload-directive>
			    	<img class="arrow" ng-src="images/rightArrow.png" alt="arrow">	
			    </div>
		  	</div>
			
		  	<div class="item item-input">
		    	<span class="input-label ">商家名称</span>
		    	<input class="disabled-text" type="text" ng-model="data.serverData.name" ng-disabled="true">
		  	</div>
		</div>
		<div class="one-px-border"></div>	
	</div>

	<div class="bar bar-footer bar-light bottom-footer white-bg">
		<!-- <p class="title bottom-content">开通服务由亿创恒通提供</p> -->
	</div>
</ion-view>