<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>健康</title>
	</head>  
	<body>

		<ion-view view-title="健康">
		<ion-content>
		    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
<!--		    ion-refresher标签：下拉刷新的效果，下拉时触发doRefresh。-->
		    <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
		      <ion-slide ng-repeat="slide in slides">
		        <div class="list has-header">
		          <a ng-repeat="item in items" class="item item-thumbnail-right item-text-wrap" href="#">
		            <img ng-src="{{imgUrl+item.img}}" width="30" height="30" alt="">
		            <h3>{{item.title}}</h3>
		            <p>{{item.description | substring:item.description}}</p>
		            <!--使用过滤器  否则文字太长了-->
		          </a>
		        </div>
		        <ion-infinite-scroll ng-if="!hasmore" on-infinite="loadMore()" distance="1%">
		        </ion-infinite-scroll>
		        <!--ion-infinite-scroll标签：上拉加载的效果 。-->
		      </ion-slide>
		    </ion-slide-box> 
		  </ion-content>
		  <ion-tabs class="tabs-striped tabs-top">
		    <ion-tab ng-repeat="item in tabs" on-select="selectedTab($index)" title="{{item.name}}"></ion-tab>
		  </ion-tabs>
		</ion-view>-->

	</body>
</html>
